body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}   

.topo {
    display: flex;
    width: 1000px;
    background-color: blue;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    color: aliceblue;
}

.topo img {
    width: 150px;
}

.image {
    display:flex ;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cadastro-topo {
    flex: 4;
}

.cadastro-topo p {
    padding-right: 250px;
}
.documentos-necessarios{
    display: flex;
    width: 1000px;
    margin: auto;
    background-color: #e08c0d;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    
}
.imagem-documentos{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-documentos img{
    width: 150px;
}

.dados-left{
    flex: 2;
}
.dados-right{
    flex: 2;
}
